html {
    height: 100%;
}

body {
    background: url(nycfuzzy.jpeg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    color: white;
}


#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px grey,
                0px 8px 13px grey,
                0px 18px 23px rgb(70, 110, 70);
}

h1 {
    font-weight: 400;
    font-size: 5em;
}

hr {
    width: 400px;
}

h3 {
    color:rgb(211, 209, 209);
}